$mobile1: "min-width: 360px";
$mobile2: "min-width: 400px";
$mobile3: "min-width: 540px";
$tablet1: "min-width: 768px";
$tablet2: "min-width: 992px";
$desktop1: "min-width: 1200px";
$desktop2: "min-width: 1440px";
$desktop3: "min-width: 1920px";

$white: #FFFFFF;
$gray-1: #F8F8FB;
$gray-2: #F0F0F5;
$gray-3: #EAEAF1;
$gray-4: #BCBCC7;
$green: #45AE79;
$yellow: #F1AE41;
$red: #FF4C4D;
$blue-1: #80B4FF;
$blue-2: #0BCBFB;
$blue-3: #4391FF;
$blue-4: #644AF3;
$blue-5: #050B7F;
$black: #343538;

$transition-time: 0.3s;