<div class="input-wrapper @@context.classesList">
  <div class="input-box">
    <input class="input @@if(context.datepicker){input-datepicker}" type="@@context.type" placeholder="@@context.placeholder" autocomplete="off" @@if(context.required){required} @@if(context.readonly){readonly="readonly"} @@if(context.disabled){disabled} value="@@context.value">
    @@if(context.icon){
    <span class="icon"><i>@@context.icon</i></span>
    }
    @@if(context.status){
    <span class="input-status">@@context.status</span>
    }
  </div>
  @@if(context.message){
  <span class="message-text">@@context.message</span>
  }
</div>