<div class="login">
  <div class="login__wrapper login__wrapper-white">
    <div class="title title-h1">Подтвердите номер мобильного телефона</div>
    <div class="login-tel">
      <div class="login-tel__description">На указанный номер телефона будет отправлен<br> SMS-код для подтверждения</div>
      <form class="login-form">
        <div class="form-box form-col-1">
          <div class="login-tel__text">Введите код из SMS</div>
          <div class="input-wrapper is-codeSMS">
            <div class="input-box">
              <input class="input" type="number" placeholder="" autocomplete="off">
              <input class="input" type="number" placeholder="" autocomplete="off">
              <input class="input" type="number" placeholder="" autocomplete="off">
              <input class="input" type="number" placeholder="" autocomplete="off">
            </div>
          </div>
        </div>
        <button class="btn btn-blue" type="button">Отправить SMS-код</button>
        <button class="btn btn-tr-bk" type="button">Подтвердить позже</button>
      </form>
      <div class="login__bottom">
        <a href="./login-2.html">
          <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.99925 11.28L1.65258 6.9333C1.13924 6.41997 1.13924 5.57997 1.65258 5.06664L5.99925 0.719971" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>Назад</span>
        </a>
      </div>
    </div>
  </div>
</div>