<div class="login">
  <div class="login__wrapper">
    <div class="title title-h1">Добро пожаловать на платформу<br> <span>Мой ALD</span></div>

    @@include("./login-role.html")

    <div class="login__footer">
      <a class="login__footer-logo" href="./">
        <img src="./img/logo-white.svg" alt="">
      </a>
      <div class="login__footer-info">
        <div class="login__footer-info-text">
          <span>ООО «АЛД Автомотив»</span><br>
          <span>117105, г. Москва, Варшавское шоссе, д. 25а, стр. 6</span>
        </div>
        <div class="login__footer-info-text">
          <span>Call-центр: 8 800 505 04 03</span>
          <span>www.aldautomotive.ru</span>
          <span>contact.russia@aldautomotive.com</span>
        </div>
      </div>
    </div>
  </div>
</div>