<div id="codeSMS" class="popup">
  <div class="popup__wrapper popup__wrapper-min">
    <div class="popup__close">Закрыть</div>
    <div class="title title-h1 popup__title">Подтвердите номер мобильного телефона</div>
    <div class="popup__content">
      <div class="login-tel__description">На указанный номер телефона будет отправлен<br> SMS-код для подтверждения</div>
      <form class="login-form">
        <div class="form-box form-col-1">
          <div class="login-tel__text">Введите код из SMS</div>
          <div class="input-wrapper is-codeSMS">
            <div class="input-box">
              <input class="input" type="number" placeholder="" autocomplete="off">
              <input class="input" type="number" placeholder="" autocomplete="off">
              <input class="input" type="number" placeholder="" autocomplete="off">
              <input class="input" type="number" placeholder="" autocomplete="off">
            </div>
          </div>
        </div>
        <button class="btn btn-blue" type="button">Отправить SMS-код</button>
        <button class="btn btn-tr-bk" type="button">Подтвердить позже</button>
      </form>
    </div>
  </div>
</div>