<div id="auth" class="popup">
  <div class="popup__wrapper popup__wrapper-min">
    <div class="popup__close">Закрыть</div>
    <div class="popup-auth__description">По истечении 6 месяцев доступ к полному функционалу личного кабинета будет доступен только для пользователей прошедших регистрацию и авторизовавшихся с помощью моб. телефона </div>
    <div class="popup__content">
      <form class="login-form">
        <button class="btn btn-blue" type="button">Отправить SMS-код</button>
        <button class="btn btn-tr-bk" type="button">Подтвердить позже</button>
      </form>
    </div>
  </div>
</div>