<div id="dataReturn" class="popup show">
  <div class="popup__wrapper popup__wrapper-max">
    <div class="popup__close">Закрыть</div>
    <div class="title title-h1 popup__title">Заявка на возврат</div>
    <div class="popup__content">
      <div class="modal-driver__form">
        <div class="form-box form-col-1">
          <div class="box-request__text">
            <span class="status status-finish">Возвращен</span>
          </div>
        </div>
        <div class="form-box form-col-1">
          <div class="box-request__data">
            <div class="box-request__col">
              <div class="box-request__text">
                <div class="box-request__text-name">Контракт №:</div>
                <div class="box-request__text-value">
                  <a class="box-request__link" href="javascript:void(0);">
                    <span class="box-request__link-text">0000001</span>
                  </a>
                </div>
              </div>
              <div class="box-request__text">
                <div class="box-request__text-name">Дата:</div>
                <div class="box-request__text-value">01.09.2022</div>
              </div>
              <div class="box-request__text">
                <div class="box-request__text-name">Площадка:</div>
                <div class="box-request__text-value">г. Екатеринбург, ул. Репина, 13</div>
              </div>
              <div class="box-request__text">
                <div class="box-request__text-name">Тел:</div>
                <div class="box-request__text-value">79123972791</div>
              </div>
              <div class="box-request__text">
                <div class="box-request__text-name">Кем создана:</div>
                <div class="box-request__text-value">Александр Бышок </div>
              </div>
              <div class="box-request__text">
                <div class="box-request__text-name">Когда создана:</div>
                <div class="box-request__text-value">24.08.2022 05:31:18</div>
              </div>
            </div>
            <div class="box-request__col">
              <div class="box-request__text">
                <div class="box-request__text-name">Тип:</div>
                <div class="box-request__text-value">На возврат</div>
              </div>
              <div class="box-request__text">
                <div class="box-request__text-name">Время:</div>
                <div class="box-request__text-value">11:00-11:30</div>
              </div>
              <div class="box-request__text">
                <div class="box-request__text-name">E-mail:</div>
                <div class="box-request__text-value">marii.zasukhina@organon.com</div>
              </div>
              <div class="box-request__text">
                <div class="box-request__text-name">Доп. услуги:</div>
                <div class="box-request__text-value">Будут оплачены дополнительно</div>
              </div>
              <div class="box-request__text">
                <div class="box-request__text-name">Кем изменена:</div>
                <div class="box-request__text-value">Александр Бышок </div>
              </div>
              <div class="box-request__text">
                <div class="box-request__text-name">Когда изменена:</div>
                <div class="box-request__text-value">24.08.2022 05:31:18</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-box form-col-1">
          <div class="title title-h2">Контракт</div>
        </div>
        <div class="form-box form-col-1">
          <div class="box-request__data">
            <div class="box-request__col">
              <div class="box-request__text">
                <div class="box-request__text-name">Контракт №:</div>
                <div class="box-request__text-value">
                  <a class="box-request__link" href="javascript:void(0);">
                    <span class="box-request__link-text">0000001</span>
                  </a>
                </div>
              </div>
              <div class="box-request__text">
                <div class="box-request__text-name">Дата по договору:</div>
                <div class="box-request__text-value">02.04.2022</div>
              </div>
              <div class="box-request__text">
                <div class="box-request__text-name">Марка:</div>
                <div class="box-request__text-value">Volkswagen Polo</div>
              </div>
              <div class="box-request__text">
                <div class="box-request__text-name">Компания:</div>
                <div class="box-request__text-value">
                  <a class="box-request__link" href="javascript:void(0);">
                    <span class="box-request__link-text">ООО «Органон»</span>
                  </a>
                </div>
              </div>
              <div class="box-request__text">
                <div class="box-request__text-name">Кем создана:</div>
                <div class="box-request__text-value">Александр Бышок</div>
              </div>
              <div class="box-request__text">
                <div class="box-request__text-name">Регион:</div>
                <div class="box-request__text-value">Екатеринбург</div>
              </div>
            </div>
            <div class="box-request__col">
              <div class="box-request__text">
                <div class="box-request__text-name">Тип контракта:</div>
                <div class="box-request__text-value">На возврат</div>
              </div>
              <div class="box-request__text">
                <div class="box-request__text-name">Дата пролонгированная:</div>
                <div class="box-request__text-value">02.10.2022</div>
              </div>
              <div class="box-request__text">
                <div class="box-request__text-name">Гос. №:</div>
                <div class="box-request__text-value">T086НР74</div>
              </div>
              <div class="box-request__text">
                <div class="box-request__text-name">Город эксп.:</div>
                <div class="box-request__text-value">Екатеринбург</div>
              </div>
            </div>
          </div>
        </div>
        <a class="btn btn-blue w-auto" href="javascript:void(0);">Просмотр</a>
      </div>
    </div>
  </div>
</div>