<div class="input-wrapper @@context.classesList">
  <ul class="switch-list">
    @@for (var i = 0; i < context.arr.length; i++) {
    <li class="switch-item">
      <label class="switch">
        <input class="switch-input" type="checkbox" name="`+context.arr[i].name+`" @@if(context.required){required} @@if(context.readonly){onclick="return false;"} @@if(context.disabled){disabled} `+context.arr[i].checked+` />
        <div class="switch-text">`+context.arr[i].text+`</div>
      </label>
    </li>
    }
  </ul>
  <span class="message-text">@@context.message</span>
</div>