@import "partials/params";
@import "partials/mixins";

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  position: relative;
  font-family: 'SourceSansPro';
  font-weight: 400;
  font-size: 14px;
  background-color: #f9f9fa;
  color: $black;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  z-index: 2;

  &.main-driver {
    padding-top: 116px;
    @media screen and ($tablet1) {
      padding-top: 58px;
    }
  }

  &.main-administrator {
    padding-top: 116px;
    transition: width $transition-time, margin $transition-time, max-width $transition-time;
    @media screen and ($tablet1) {
      padding-top: 58px;
      width: calc(100% - 44px);
      max-width: calc(100% - 44px);
      margin-left: 44px;
    }

    &.active-sidebar {
      width: calc(100% - 198px);
      max-width: calc(100% - 198px);
      margin-left: 198px;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $black;
  line-height: 1.4em;
  padding: 0;
  margin: 0;
}

div {
  color: $black;
  padding: 0;
  margin: 0;
}

a {
  color: $black;
  text-decoration: none;
  cursor: pointer;
}

.container {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  z-index: 2;
  transition: width $transition-time;
  @media screen and ($tablet1) {
    padding: 0 24px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

.ov-hid{
  overflow-y: hidden !important;
}

.form {
  &-box {
    display: grid;
    grid-column-gap: 14px;
    grid-row-gap: 8px;
    margin-bottom: 24px;
    @media screen and ($desktop3) {
      margin-bottom: 36px;
    }

    & .form {
      &-box {
        margin-bottom: 0;
      }
    }

    & .row {
      margin-top: 4px;
    }

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 12px;
      line-height: 120%;
      color: $blue-3;
      width: min-content;
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }

  &-col {
    &-1 {
      grid-template-columns: 1fr;
    }
    &-2 {
      grid-template-columns: 1fr;
      @media screen and ($tablet1) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

.driver-image {
  position: relative;
  width: 100%;
  height: 120px;
  overflow: hidden;
  transition: width $transition-time;
  @media screen and ($tablet1) {
    height: 180px;
  }
  @media screen and ($desktop1) {
    height: 210px;
  }

  &:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: -10px;
    height: 52px;
    width: 228px;
    background: url("../img/line-blue.svg") no-repeat;
    background-position: center;
    background-size: contain;
    @media screen and ($tablet1) {
      height: 96px;
      width: 420px;
      bottom: -30px;
    }
    @media screen and ($desktop1) {
      height: 137px;
      width: 597px;
      bottom: -51px;
    }
  }

  & img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    transition: width $transition-time;
  }

  & .container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 14px;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: $white;
    @media screen and ($tablet1) {
      font-size: 36px;
      line-height: 42px;
    }
    @media screen and ($desktop1) {
      font-size: 56px;
      line-height: 70px;
    }
  }
}