@import "partials/params";
@import "partials/mixins";

.section-default {
  margin: 24px 0;

  &.hidden-car {
    & .car {
      display: none;
      @media screen and ($tablet1) {
        display: block;
      }
    }

    & .car__img {
      display: none;
      @media screen and ($tablet1) {
        display: block;
      }
    }
  }
}

.layout-1 {
  position: relative;
  width: 100%;
  @media screen and ($tablet1) {
    display: grid;
    grid-template-columns: 162px auto;
    grid-column-gap: 34px;
  }
}

.layout-2 {
  position: relative;
  width: 100%;
}

.administrator-default {
  & .row {
    &.row-title {
      justify-content: flex-start;
      flex-direction: column;
      @media screen and ($tablet1) {
        flex-direction: row;
        align-items: center;
      }

      & .default__tab-request {
        order: 1;
        margin-top: 14px;
        @media screen and ($tablet1) {
          margin-top: 0;
          margin-bottom: 0;
          margin-left: 14px;
        }
      }

      & .status {
        margin-top: 14px;
        @media screen and ($tablet1) {
          margin-top: 0;
          margin-left: 24px;
        }
      }
    }
  }
}

.wrapper-default {
  position: relative;
  width: 100%;

  &.wrapper-50 {
    @media screen and ($tablet2) {
      width: calc(50% - 7px);;
      min-width: 670px;
    }
  }

  &.wrapper-75 {
    @media screen and ($desktop2) {
      width: calc(75% - 7px);
      min-width: 1000px;
    }
  }
}

.default {
  &__tabs {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 14px;
    align-items: center;
    margin: 14px 0;
    @media screen and ($tablet1) {
      display: flex;
      flex-wrap: wrap;
      grid-template-columns: initial;
      grid-gap: initial;
    }
  }

  &__tab {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    width: 100%;
    height: 30px;
    background-color: $white;
    color: $blue-3;
    border: 1px solid $white;
    box-shadow: 0px 0px 10px rgba(72, 72, 72, 0.05);
    border-radius: 6px;
    transition: background-color $transition-time, color $transition-time, border $transition-time;
    @media screen and ($tablet1) {
      width: 157px;
      margin-right: 14px;
      margin-bottom: 14px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $blue-3;
      color: $white;
      border: 1px solid $blue-3;
    }

    &.active {
      background-color: $blue-3;
      color: $white;
      border: 1px solid $blue-3;
    }

    & .count {
      margin-left: 12px;
    }

    &.default__tab-request {
      background-color: transparent;
      font-weight: 600;
      font-size: 12px;
      line-height: 120%;
      color: $blue-3;
      border: 1px solid $blue-3;
      order: -1;
      grid-column-start: 1;
      grid-column-end: 3;
      @media screen and ($tablet1) {
        order: initial;
        width: 110px;
      }
      @media screen and ($tablet2) {
        margin-left: auto;
      }

      &:hover {
        background-color: $blue-3;
        color: $white;
        border: 1px solid $blue-3;
      }

      &.active {
        display: none;
      }
    }

    &.default__tab-excel {
      color: $green;
      @media screen and ($tablet2) {
        margin-left: auto;
      }

      &:hover {
        background-color: $green;
        color: $white;

        & .icon {
          & svg {
            fill: $white;
          }
        }
      }

      & .icon {
        position: relative;
        width: 16px;
        height: 16px;
        margin-left: 10px;

        & svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.box-request {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  &.active {
    & .box-request {
      &__main {
        &:after {
          transform: rotate(270deg);
        }
      }

      &__extra {
        max-height: 1000vh;
        overflow: visible;
        padding: 14px;
        transition: max-height $transition-time ease-in, padding $transition-time ease-in;
        @media screen and ($tablet2) {
          padding: 14px 24px;
        }
      }
    }
  }

  &__main {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 14px;
    background-color: $white;
    box-shadow: 0px 0px 10px rgba(72, 72, 72, 0.05);
    border-radius: 4px;
    padding: 14px 30px 14px 14px;
    cursor: pointer;
    @media screen and ($tablet2) {
      padding: 14px 30px 14px 24px;
      grid-template-columns: 1fr 1fr;
    }

    &:after {
      content: '';
      position: absolute;
      top: 17px;
      right: 14px;
      width: 16px;
      height: 16px;
      background: url("../img/icon-chevron.svg") no-repeat;
      background-position: center;
      background-size: contain;
      transform: rotate(90deg);
      transition: transform $transition-time;
    }
  }

  &__text {
    display: block;

    &-name {
      display: inline;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      color: $black;
    }

    &-value {
      display: inline;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: $black;
      margin-left: 8px;
    }
  }

  &__link {
    position: relative;
    padding-right: 24px;

    &-text {
      color: $blue-3;
    }

    &-icon {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;

      & svg {
        width: 100%;
        height: 100%;
        stroke: $blue-3;
      }
    }
  }

  &__extra {
    padding: 0 14px;
    max-height: 0;
    overflow: hidden;
    transition: max-height $transition-time ease-out, padding $transition-time ease-out;
    @media screen and ($tablet2) {
      padding: 0 24px;
    }
  }

  &__data {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    @media screen and ($tablet2) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 14px;
    }

    &.data-col-1 {
      @media screen and ($tablet2) {
        grid-template-columns: 1fr;
      }
    }

    &.data-col-3 {
      @media screen and ($tablet2) {
        grid-template-columns: 1fr 1fr;
      }
      @media screen and ($desktop2) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    & .box-request{
      &__text {
        display: block;
        margin-bottom: 20px;
        @media screen and ($tablet2) {
          border-bottom: 1px solid #E6E7EB;;
          padding-bottom: 5px;
          margin-bottom: 14px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__description {
    & .box-request{
      &__text {
        display: block;
        margin-top: 20px;

        &-name {
          display: block;
        }

        &-value {
          display: block;
          margin-left: 0;
          margin-top: 8px;
        }
      }
    }
  }
}

.form-request {
  position: relative;
  background-color: $white;
  padding: 14px 10px;
  margin: 0 -10px 14px;
  @media screen and ($tablet1) {
    margin: 0 0 14px;
  }
  @media screen and ($tablet2) {
    padding: 24px;
  }

  &__steps {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: $black;
  }

  &__title {
    margin: 14px 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    display: flex;
    flex-direction: row;
    margin-top: auto;

    & .btn {
      width: 110px;
      margin-right: 14px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__map {
    position: relative;
    width: 100%;
    height: 305px;
    background-color: $gray-1;
    border-radius: 4px;
    overflow: hidden;
  }

  & .box-request__data {
    margin-top: 14px;
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: $black;

    &.color-red {
      color: $red;
    }
  }

  &__price {
    display: grid;
    align-items: center;
    grid-column-gap: 14px;
    grid-row-gap: 8px;
    margin-bottom: 8px;
    grid-template-columns: 1fr;
    @media screen and ($tablet1) {
      grid-template-columns: 1fr 1fr;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-name {
      font-weight: 600;
      font-size: 14px;
      line-height: 120%;
      color: $black;
    }

    &-value {
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
      color: $black;
      @media screen and ($tablet1) {
        justify-self: end;
      }
    }
  }

  &__link {
    position: relative;
    padding-left: 30px;

    &-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: auto;

      & svg {
        width: 100%;
        height: 100%;
        stroke: $blue-3;
      }
    }

    &-text {
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      color: $blue-3;
    }
  }

  & .checkbox {
    &-text {
      font-size: 14px;
      min-height: 16.8px;

      &:before {
        top: 2px;
      }

      &:after {
        top: 5px;
      }
    }
  }

  & .radio {
    &-text {
      font-size: 14px;
      min-height: 16.8px;

      &:before {
        top: 1px;
      }

      &:after {
        top: 5px;
      }
    }
  }
}

.box-filter {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-gap: 14px;
  background-color: $white;
  box-shadow: 0px 0px 10px rgba(72, 72, 72, 0.05);
  border-radius: 4px;
  padding: 14px;
  margin-bottom: 8px;
  @media screen and ($tablet2) {
    padding: 14px 24px;
    grid-template-columns: 1fr 1fr;
  }

  & .box-request__text {
    justify-self: flex-end;
  }
}

.contract__box {
  position: relative;
  width: 100%;
  margin: 24px 0;

  &-buttons {
    display: flex;
    align-items: center;

    & .btn {
      margin-left: 8px;

      &.btn-small {
        width: 110px;
        font-size: 12px;
        line-height: 15px;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.box-damage {
  position: relative;
  background-color: $white;
  box-shadow: 0px 0px 10px rgba(72, 72, 72, 0.05);
  border-radius: 8px;
  padding: 24px 14px;
  @media screen and ($tablet2) {
    padding: 36px 24px;
  }

  &__total {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: $black;
    @media screen and ($tablet2) {
      text-align: right;
    }

    &-value {
      margin-left: 14px;
    }
  }
}
