@import "partials/params";
@import "partials/mixins";

.login {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../img/bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    background: url("../img/line-blue.svg") no-repeat;
    background-position: center;
    background-size: contain;
    right: 0;
    bottom: 0;
    width: 804px;
    height: 183px;
    z-index: 2;
  }

  &__wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 36px 20px;
    background-color: $gray-1;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 5;
    @media screen and ($tablet1) {
      width: 423px;
      height: calc(100vh - 20px);
      top: 10px;
      left: 10px;
      border-radius: 8px;
    }

    &.login__wrapper-white {
      background-color: $white;
    }

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      height: 3px;
      width: 3px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 3px $gray-2;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $gray-3;
      border-radius: 3px;
      outline: none;
      background-clip: border-box;
      cursor: pointer;
    }
  }

  &__footer {
    position: relative;
    bottom: -36px;
    margin: auto -20px 0;
    background-color: $blue-3;
    padding: 24px 20px;
    width: calc(100% + 40px);

    &-logo {
      display: block;
      width: 112px;

      & img {
        width: 100%;
      }
    }

    &-info {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 34px;
      grid-row-gap: 16px;
      margin-top: 48px;
      @media screen and ($mobile2) {
        grid-template-columns: 1fr 1fr;
      }

      &-text {
        font-size: 10px;
        line-height: 120%;
        color: $white;
      }
    }
  }

  &-role {
    margin-top: 24px;

    &__text {
      font-size: 14px;
      font-weight: 400;
      line-height: 120%;
    }

    &__list {
      list-style: none;
      margin-top: 14px;
    }

    &__item {
      position: relative;
      background-color: $white;
      border-radius: 8px;
      margin-bottom: 8px;
      filter: drop-shadow(0px 0px 10px rgba(72, 72, 72, 0.05));
      padding: 14px 24px 14px 16px;
      transition: background-color $transition-time;

      &:last-child {
        margin-bottom: 0;
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 14px;
        transform: translateY(-50%);
        width: 7px;
        height: 12px;
        background: url("../img/icon-chevron.svg") no-repeat;
        background-position: center;
        background-size: contain;
        transition: filter $transition-time;
      }

      &:hover {
        background-color: $blue-3;

        &:after {
          filter: grayscale(1) brightness(1000%);
        }

        & .login-role__name {
          color: $white;
        }
      }
    }

    &__icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      background-color: $gray-1;
      border-radius: 6px;
      margin-right: 8px;

      & svg {
        stroke: $blue-3;
      }
    }

    &__name {
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;
      color: $black;
      padding-left: 14px;
      border-left: 1px solid $gray-2;
      transition: color $transition-time;
    }

    & a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
    }
  }

  &-tabs {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 24px;

    &__tabs {
      display: flex;
      align-items: center;
    }

    &__tab {
      position: relative;
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;
      color: #BCBCC7;
      transition: color $transition-time;

      &.active {
        color: $black;
      }

      &:first-child {
        padding-right: 13px;
      }

      &:last-child {
        padding-left: 13px;

        &:before {
          content: '';
          position: absolute;
          background-color: $gray-4;
          width: 1px;
          height: 9px;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
      }
    }

    &__container {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-top: 14px;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      margin-bottom: 28px;

      &.login-tabs__buttons-hidden {
        display: none;
      }
    }
  }

  & .btn {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__bottom {
    margin-top: auto;

    & a {
      display: flex;
      align-items: center;
      width: 100%;
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      color: $black;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }

      & svg {
        stroke: $black;
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;

    &.login-form-hidden {
      display: none;
    }
  }

  &-link {
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    color: $blue-3;
    white-space: nowrap;
    transition: color $transition-time;
  }

  &-tel {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 24px;

    &__description {
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      text-align: center;
      width: 100%;
    }

    &__text {
      font-weight: 400;
      font-size: 10px;
      line-height: 120%;
      width: 100%;
      text-align: center;
      margin-bottom: 6px;
    }

    & .login-form {
      margin-top: 24px;
    }
  }
}