@import "partials/params";
@import "partials/mixins";

.status {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  color: $black;
  border-radius: 4px;
  width: 120px;
  height: 22px;

  &.status-work,
  &.status-extradition {
    background-color: #CBF0F9;
    border: 1px solid #CBF0F9;
  }

  &.status-finish,
  &.status-return,
  &.status-Valid {
    background-color: #E0F7EC;
    border: 1px solid #E0F7EC;
  }

  &.status-disconnect,
  &.status-soon-expires {
    background-color: #FDF5E8;
    border: 1px solid #FDF5E8;
  }

  &.status-refusal,
  &.status-expired {
    background-color: #FFE8E8;
    border: 1px solid #FFE8E8;
  }

  &.status-agreement {
    background-color: #E4E1F7;
    border: 1px solid #E4E1F7;
  }

  &.status-canceled {
    background-color: $gray-2;
    border: 1px solid $gray-2;
  }

  &.status-new {
    background-color: $white;
    border: 1px solid $black;
  }

  &.status-not-paid {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    width: auto;
    color: $blue-3;
  }

  &-desc {
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    color: $black;
    padding-bottom: 5px;
    margin-left: 8px;
  }
}