@import "partials/params";
@import "partials/mixins";

.switch {
  width: fit-content;

  &:hover {
    & .checkbox-text {
      color: $black;
      transition: color $transition-time;

      &:before {
        border: 1px solid $black;
        transition: background $transition-time, border $transition-time;
      }
    }
  }

  &-list {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
    width: 100%;
    list-style: none;
  }

  &-item {
    position: relative;
    width: fit-content;
    margin: 0;
  }

  &-input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;

    &:checked + .switch-text {
      color: $black;
    }

    &:checked + .switch-text:before {
      background: $green;
      border: 1px solid $green;
    }

    &:checked + .switch-text:after {
      width: 12px;
      height: 12px;
      transform: translate(10px, -50%);
    }
  }

  &-text {
    position: relative;
    color: $black;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    padding-left: 46px;
    cursor: pointer;
    transition: color $transition-time;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background: $gray-4;
      width: 32px;
      height: 16px;
      border-radius: 100px;
      border: 1px solid $gray-4;
      transition: background $transition-time, border $transition-time;
    }

    &:after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background: $gray-4;
      background: $white;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 8px;
      transition: width $transition-time, height $transition-time, transform $transition-time;
    }
  }
}

.input-wrapper {
  &.is-disabled {
    & .switch-item {
      & .checkbox {
        &:hover {
          & .switch-text {
            &:before {
              border: 1px solid $gray-4;
            }
          }
        }
      }

      & .switch-input {
        &:checked + .switch-text {
          &:before {
            border: 1px solid $gray-4;
          }
        }
      }

      & .switch-text {
        color: $gray-4;
        cursor: default;

        &:before {
          background: $gray-4;
          border: 1px solid $gray-4;
        }
      }
    }
  }

  &.is-readonly {
    & .switch-item {
      & .checkbox {
        &:hover {
          & .switch-text {
            &:before {
              border: 1px solid $gray-4;
            }
          }
        }
      }

      & .switch-input {
        &:checked + .switch-text {
          color: $black;
        }

        &:checked + .switch-text:before {
          background: $green;
          border: 1px solid $black;
          transition: background $transition-time, border $transition-time;
        }

        &:checked + .switch-text:after {
          opacity: 1;
          transition: opacity $transition-time;
        }
      }

      & .switch-text {
        color: $black;
        cursor: default;

        &:before {
          background: $gray-4;
          border: 1px solid $gray-4;
        }
      }
    }
  }

  &.is-error {
    & .switch {
      &:hover {
        & .switch-text {
          &:before {
            border: 1px solid $red;
          }
        }
      }
    }

    & .switch-item {
      & .switch-input {
        &:checked + .switch-text:before {
          background: $green;
          border: 1px solid $green;
        }
      }

      & .switch-text {
        &:before {
          background: $red;
          border: 1px solid $red;
        }
      }
    }
  }
}